*{
    padding: 0;
    margin: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
    color: #4e4039;
}
a:hover{
    color: orangered;
/* }
 .back{
    background: #fff; 
    box-shadow: 0 0 10px #999;
    width: 100%;
    height: 68px;
}
.header-logo h2{ 
    color: #998c85;
    padding: 10px;
    font-size: 30px;
    font-weight:400;
    font-style:normal;
    font-variant:normal;
    text-transform:none;
    text-decoration:none solid rgb(122, 105, 96);
    text-align:start;
    text-indent:0px;
}
.container{
    width: 1175px;
    margin: auto;
}
.heading-sec{
 display: flex;
 justify-content: space-between;
 padding: 7px;
 
 
}
.nav-sec ul{
    display: flex;
}
.nav-sec ul li{
    padding: 15px;
    list-style: none;
    padding-left: 29px;
    color: black;

}
.nav-sec ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 15px;
    text-indent: 0px;
    font-variant: normal;
    font-weight: 400;

}
.nav-sec ul button{
    width: 117px;
    border: none;
    border-radius: 25px;
    text-transform: capitalize;
    background-color: #eb5e20;
    height: 43px;
    margin-top: 7px;
    color: #fff

}
.check{
    font-size: 30px;

}





/* banner starts 
.banner-section{
background-color: #fef8f5;
}
.ban{
    display: flex;
}
.ban-text{
    width: 50%;
    padding: 76px 13px;
}
.ban-text h1{
    color: #4e4039;
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    padding: 10px;


}
.ban-text p{
    font-size: 24px;
    line-height: 28.8px;
    color: #a08f86;
    font-weight: 400;
    padding: 10px;
}
.ban-text button{
    width: 163px;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    background-color: #eb5e20;
    height: 43px;
    margin-top: 7px;
    color: #fff;
    font-size: 18px;  
    padding: 10px;  
    margin: 12px;
}
.ban-img {
    width: 50%;
}

.ban-img img{
    height: 376px;
    padding: 42px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
    margin-top: 5px;
}
@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}
@media only screen and (max-width: 1024px) {
    .container{
        width: 990px;
        margin: auto;
    }
    .nav-sec ul{
        display: none;
    }
.ban{
    display: flex;
    flex-wrap: wrap;
}
.ban-text{
    width: 100%;
    align-items: center;
}
.ban-text h1{
    color: #4e4039;
    font-size: 25px;
    font-weight: 700;
}
.ban-text p{
    font-size: 20px;
    color: #636363;
    font-weight: 400;
    padding: 10px;
}
.ban-text button{
    width: 163px;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    background-color: #eb5e20;
    height: 43px;
    margin-top: 7px;
    color: #fff;
    font-size: 18px;  
    padding: 10px;  
    margin: 12px;
}
.ban-img {
    width: 100%;
} */
}
.vol-img {
    align-items: center;
    display: flex;
    justify-content: center;
} 
.vol-img img{
   height: 225px;
   align-items: center;
}
.vol-text h1{
    font-size: 29px;
    text-align: left;
    padding: 10px;

}
.vol-text p{
    color: #636363;
    text-align: inherit;
    padding: 10px;
}
.vol-ico{
    font-size: xx-large;
    color:#f39e7a;
    padding: 9px;
}
@media screen and (min-width:768px) {
    .vol-1{
        display: flex;
    }
    .vol-over h1{
        font-size: 24px;

    }
    .vol-img img{
        height: 300px;
        align-items: center;
     }.vol-ico{
        font-size: xx-large;
        color:#f39e7a;
        padding: 9px;
    }
}
@media screen and (min-width:1200px) {
    .container{
        width: 1175px;
        margin: auto;
    }
    .voluput{
        display: flex;
        height: 500px;
        
        
    }
    .vol-text{
        margin: auto;
      
    }
    .vol-text h1{
        font-size: 38px;
        
      
    }
    .vol-text p{
        font-size: 18px;
    }
    .vol-img img{
        height: 350px;
        align-items: center;
     }
    .vol-over h1{
        font-size: 26px;

    }
    .vol-img {
       width: 50%;
     }

     .vol-text{
        width: 50%;
     }
    .vol-img img{
        height: 300px;
        align-items: center;
     }.vol-ico{
        font-size: 40px;
        color:#f39e7a;
        padding: 9px;
    }
}
.services{
    background-color: #fef8f5;
}
hr{
    color: orange;
    width: 55px;
    height: 0px;

}
.services h1{
    text-align: center;
    font-size: 30px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    width:85% ;

}
.services h4{
    text-align: center;
    color: lightgray;
    font-size: 23px;
    padding: 8px;
}
.service-secs{
    height: 214px;
    background: #fff;
    width: 80%;
    margin: auto;
    border-radius: 17px;
    margin-top: 12px;
    box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%)

}
.services h3{
    text-align: center;
    font-size: 23px;
    color: black;
    padding: 8px;   
}
.services p{
    text-align: center;
    font-size: 16px;
    color: black;
    padding: 15px;
}
.serv-ico{
    color: #f39e7a;
    font-size: 30px;
    justify-content: center;
    display: flex;
    padding: 8px;
}
@media screen and (min-width:768px) {
    .ser{
        display: flex;
    }
    .ser .service-secs{
        width: 45%;
        margin-top: 20px;

    }
   
}
@media screen and (min-width:1200px) {
    .serv-flex{
        display: flex;
    }
    .ser .service-secs{
        width: auto;
        margin: 10px;
        height: 214px;
        background: #fff;
        border-radius: 17px;
        margin-top: 12px;
        box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%)
    }
    .services h3{
        text-align: center;
        font-size: 25px;
        color: black;
        padding: 8px;   
    }
    .services p{
        text-align: center;
        font-size: 18px;
        color: black;
        padding: 15px;
    }

}
/* portfolio starts */

#portfolio {
    display: flex;
    background-color: #f5f9fc;
    text-align: center;
    width: 100%;
  }
  .portfoliocontent h2 {
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 0;
    line-height: 1px;
    margin-bottom: 15px;
    color: #c2b7b1;
  }
  .portfoliocontent h1 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #4e4039;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    position: relative;
  }
  .portfoliocontent hr {
    position: absolute;
    left: 38%;
    border: solid 1px orange;
    width: 90px;
  }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;
  }
  .portfolio-list .portfoliobox {
    width: 100%;
    height: auto;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
  .portfoliocont {
    position: relative;
    overflow: hidden;
  }
  .porto-button {
    text-align: center;
    padding-bottom: 30px;
    margin: 0 15px 15px 0;
    padding: 10px 20px;
    /* border: none; */
  }
  .porto-button button {
    margin-left: 15px;
    height: 30px;
    border: none;
    transition: 0.5s;
    border-radius: 4px;
    margin: 0 15px 15px 0;
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 20px;
    color: #444;
    border-radius: 4px;
    text-transform: uppercase;
    background: #fff;
    margin-bottom: 5px;
    transition: all 0.3s;
  }
  .porto-button button:hover {
    color: #f5f9fc;
    background-color: #428bca;
  }
  .portfoliocont img {
    display: flex;
    width: 100%;
    height: auto;
    transition: all 0.5s ease;
  }
  .portfoliocont:hover img {
    transform: scale(1.1);
  }
  .portfoliotext {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .portfoliobox:hover .portfoliotext {
    opacity: 1;
  }
  .portfoliobox:hover .portfolioinfo {
    transform: translateY(0px);
    transition: all 0.5s ease;
    opacity: 1;
  }
  .portfolioinfo {
    transform: translateY(-30px);
  }
  .portfolioinfo h5 {
    color: #fff;
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
  }
  .portfolioinfo h6 {
    color: #fff;
    font-size: 18px;
    text-align: center;
  }
  .portfolioicon {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    transition: 0.5s;
  }
  .portfolioicon a {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: #428bca;
    border-radius: 100%;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    margin: 0 5px;
  }
  .portfolioicon a:hover {
    color: #f1f7fb;
    background-color: #428bca;
  }
  
  @media (min-width: 768px) {
    #container {
      padding-left: 15px;
      padding-right: 15px;
      margin-right: 15px;
      height: auto;
    }
    #portfolio {
      display: flex;
      background-color: #f5f9fc;
      text-align: center;
    }
    .portfoliocontent h2 {
      justify-content: center;
      font-size: 24px;
      font-weight: 700;
      padding-bottom: 0;
      line-height: 1px;
      margin-bottom: 15px;
      color: #c2b7b1;
    }
    .portfoliocontent h1 {
      position: relative;
      font-size: 32px;
      font-weight: 700;
      color: #4e4039;
    }
    .portfoliocontent hr {
      position: absolute;
      left: 45%;
      border: solid 1px orange;
      width: 60px;
      bottom: -130px;
    }
    .portfolio-list {
      display: flex;
      flex-wrap: wrap;
      padding-left: 10px;
      padding-right: 10px;
    }
    .portfolio-list .portfoliobox {
      width: 45%;
      height: auto;
      box-sizing: border-box;
      margin-bottom: 15px;
      margin-left: 30px;
    }
    .portfoliocont {
      position: relative;
      overflow: hidden;
    }
    .porto-button {
      text-align: center;
      padding-bottom: 30px;
      margin: 0 15px 15px 0;
      padding: 10px 20px;
      border: none;
    }
    .porto-button button {
      margin-left: 15px;
      height: 30px;
      border: none;
      transition: 0.5s;
      border-radius: 4px;
      margin: 0 15px 15px 0;
      display: inline-block;
      padding: 10px 20px;
      font-size: 12px;
      line-height: 20px;
      color: #444;
      border-radius: 4px;
      text-transform: uppercase;
      background: #fff;
      margin-bottom: 5px;
      transition: all 0.3s;
    }
    .porto-button button:hover {
      color: #f5f9fc;
      background-color: #428bca;
    }
    .portfoliocont img {
      display: flex;
      width: 100%;
      height: auto;
      transition: all 0.5s ease;
    }
    .portfoliocont:hover img {
      transform: scale(1.1);
    }
    .portfoliotext {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: all 0.5s ease;
    }
    .portfoliobox:hover .portfoliotext {
      opacity: 1;
    }
    .portfoliobox:hover .portfolioinfo {
      transform: translateY(0px);
      transition: all 0.5s ease;
      opacity: 1;
    }
    .portfolioinfo {
      transform: translateY(-30px);
    }
    .portfolioinfo h5 {
      color: #fff;
      font-size: 22px;
      text-align: center;
      margin-bottom: 10px;
    }
    .portfolioinfo h6 {
      color: #fff;
      font-size: 18px;
      text-align: center;
    }
    .portfolioicon {
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
      transition: 0.5s;
    }
    .portfolioicon a {
      display: block;
      width: 30px;
      height: 30px;
      background-color: #fff;
      color: #428bca;
      border-radius: 100%;
      text-align: center;
      text-decoration: none;
      line-height: 30px;
      margin: 0 5px;
    }
    .portfolioicon a:hover {
      color: #f1f7fb;
      background-color: #428bca;
    }
  }
  
  @media (min-width: 1024px) {
    .container {
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
    }
    #portfolio {
      display: flex;
      background-color: #f5f9fc;
    }
    .portfoliocontent h2 {
      font-size: 24px;
      font-weight: 700;
      padding-bottom: 0;
      line-height: 1px;
      margin-bottom: 15px;
      color: #c2b7b1;
      text-align: center;
      font-family: "Raleway", sans-serif;
    }
    .portfoliocontent h1 {
      padding-bottom: 10px;
      margin-bottom: 10px;
      position: relative;
      font-size: 32px;
      font-weight: 700;
      color: #4e4039;
      text-align: center;
      font-family: "Open Sans", sans-serif;
    }
    .portfoliocontent hr {
      position: absolute;
      width: 100px;
      left: 47%;
      border: solid 1px orange;
    }
    .portfolio-list {
      display: flex;
      flex-wrap: wrap;
    }
    .portfolio-list .portfoliobox {
      width: 30%;
      height: 270px;
      padding-right: 15px;
      box-sizing: border-box;
      margin-bottom: 15px;
    }
    .portfoliocont {
      position: relative;
      overflow: hidden;
    }
    .porto-button {
      text-align: center;
      padding-bottom: 30px;
      margin: 10px 15px 15px 0;
      padding: 10px 20px;
      line-height: 20px;
      /* border: none; */
    }
    .porto-button button {
      margin-left: 15px;
      height: 30px;
      border: none;
      transition: 0.5s;
      border-radius: 4px;
      margin: 0 15px 15px 0;
      display: inline-block;
      padding: 10px 20px;
      font-size: 12px;
      line-height: 20px;
      color: #444;
      border-radius: 4px;
      text-transform: uppercase;
      background: #fff;
      margin-bottom: 5px;
      transition: all 0.3s;
    }
    .porto-button button:hover {
      color: #f5f9fc;
      background-color: #428bca;
    }
    .portfoliocont img {
      display: flex;
      height: 270px;
      transition: all 0.5s ease;
    }
    .portfoliocont:hover img {
      transform: scale(1.1);
    }
    .portfoliotext {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: all 0.5s ease;
    }
    .portfoliobox:hover .portfoliotext {
      opacity: 1;
    }
    .portfoliobox:hover .portfolioinfo {
      transform: translateY(0px);
      transition: all 0.5s ease;
      opacity: 1;
    }
    .portfolioinfo {
      transform: translateY(-30px);
    }
    .portfolioinfo h5 {
      color: #fff;
      font-size: 22px;
      text-align: center;
      margin-bottom: 10px;
    }
    .portfolioinfo h6 {
      color: #fff;
      font-size: 18px;
      text-align: center;
    }
    .portfolioicon {
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
      transition: 0.5s;
    }
    .portfolioicon a {
      display: block;
      width: 30px;
      height: 30px;
      background-color: #fff;
      color: #428bca;
      border-radius: 100%;
      text-align: center;
      text-decoration: none;
      line-height: 30px;
      margin: 0 5px;
    }
    .portfolioicon a:hover {
      color: #f1f7fb;
      background-color: #428bca;
    }
  }

  /* faq starts */

  
.faq-flex {
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .faq-flex h2 {
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    position: relative;
  }
  .faq-flex h3{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 0;
    text-align: center;
    line-height: 1px;
    margin-bottom: 15px;
    color: #c2b7b1;
    font-family: "Raleway", sans-serif
  
  }
  .faq-flex hr {
    position: absolute;
    border: solid 1px deepskyblue;
    width: 50px;
    left: 43%;
  }
  .faq{
    margin-top:40px ;
  }
  .faq  details p{
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Open Sans", sans-serif;
      color: #212529;
      font-size: 18px;
      line-height: 24px;
      font-weight: 600;  
  }
  .faq summary{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
  }
  
   summary:hover{
    color: #eb5d1e;
  }
  
  @media ( min-width:768px) {
    
  .faq-flex {
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .faq-flex h2 {
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    position: relative;
    margin-top: 40px;
  }
  .faq-flex h3{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 0;
    text-align: center;
    line-height: 1px;
    margin-bottom: 15px;
    color: #c2b7b1;
    font-family: "Raleway", sans-serif
  
  }
  .faq-flex hr {
    position: absolute;
    border: solid 1px deepskyblue;
    width: 50px;
    left: 43%;
  }
  .faq{
    margin-top:40px ;
  }
  .faq  details p{
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Open Sans", sans-serif;
      color: #212529;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      font-weight: 600;
      cursor: pointer;   
  }
  .faq summary{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
  }
  
   summary:hover{
    color: #eb5d1e;
  }
  
  }
  @media (min-width:1024px) {
  
    .container {
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
    }
    .faq-flex {
      width: 100%;
      height: auto;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .faq-flex h2 {
      font-size: 32px;
      font-family: "Roboto", sans-serif;
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 15px;
      position: relative;
      margin-top: 40px;
    }
    .faq-flex h3{
      font-size: 24px;
      font-weight: 700;
      padding-bottom: 0;
      text-align: center;
      line-height: 1px;
      margin-bottom: 15px;
      color: #c2b7b1;
      font-family: "Raleway", sans-serif
    
    }
    .faq-flex hr {
      position: absolute;
      border: solid 1px deepskyblue;
      width: 50px;
      left: 43%;
    }
    .faq{
      margin-top:40px ;
    }
    .faq  details p{
      margin-top: 30px;
      margin-bottom: 30px;
      font-family: "Open Sans", sans-serif;
        color: #212529;
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        font-weight: 600;
        cursor: pointer;   
    }
    .faq summary{
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      cursor: pointer;
      transition: 0.3s;
      margin-top: 20px;
      font-family: "Open Sans", sans-serif;
      list-style: none;
    }
     summary:hover{
      color: #eb5d1e;
    }
    
  }
  
  